/* Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Cabeçalho */
h1 {
    color: #444;
    margin-bottom: 20px;
}

/* Estilo do input e botão */
input[type="file"] {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 4px;
    background-color: white;
    color: #007BFF;
    cursor: pointer;
    font-size: 16px;
}

input[type="file"]:hover {
    background-color: #007BFF;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Link de download */
a#downloadLink {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

a#downloadLink:hover {
    background-color: #218838;
}

/* Responsividade */
@media (max-width: 600px) {
    input[type="file"], button, a#downloadLink {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
}
