<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Predição de Evasão</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/EngProd/model2GPA/style.css') }}">

    <link rel="stylesheet" href="https://satccet.uniriotec.br/ccet/barrasccet.css" media="screen">
    <script defer="defer" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer="defer" src="https://satccet.uniriotec.br/ccet/barrasccet.js" type="text/javascript"></script>
    <script defer="defer" src="https://barra.brasil.gov.br/barra_2.0.js" type="text/javascript"></script>
</head>
<body>
    <div id="app">
        <h1>Engenharia de Produção Modelo 2 </h1>
        <h2>Esse é um modelo estatístico e pode cometer erros</h2>
        <form @submit.prevent="submitForm">

            <label for="matricula">Matrícula do aluno:</label>
            <input type="text" id="matricula"  placeholder="Digite uma matrícula da UNIRIO" title="Digite uma matrícula da UNIRIO" required v-model="formData.matricula">

            <label for="ingresso_atual">É cotista?</label>
            <select id="ingresso_atual" required v-model="formData.ingresso_atual">
                <option value="nao-cotistas">Não-cotistas</option>
                <option value="cotistas">Cotistas</option>
            </select>
            
            <label for="SEXO">Gênero:</label>
            <select id="SEXO" required v-model="formData.SEXO">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
            
            <label for="IsTheyBusinessperson">Se tornou empresário?</label>
            <select id="IsTheyBusinessperson" required v-model="formData.IsTheyBusinessperson">
                <option value="Entrepreneur">É empresário</option>
                <option value="Nonentrepreneur">Não é empresário</option>
            </select>
                
            <label for="Categoria">Categoria de empresário:</label>
            <select id="Categoria" required v-model="formData.Categoria">
                <option value="Fundou uma empresa depois da graduação">Fundou uma empresa depois da graduação</option>
                <option value="Não é empresário">Não é empresário</option>
                <option value="Fundou uma empresa durante a graduação">Fundou uma empresa durante a graduação</option>
                <option value="Fundou uma empresa antes de entrar na graduação">Fundou uma empresa antes de entrar na graduação</option>
            </select>

            
            <label for="GPA1">CR1:</label>
            <input type="text" id="GPA1"  @input="replaceComma('GPA1')" placeholder="Digite uma nota entre 0.00 e 10.00" pattern="^(10|\d(\.\d{1,2})?)$" title="Enter a grade between 0 and 10" required v-model="formData.GPA1">
            
            <label for="GPA2">CR2:</label>
            <input type="text" id="GPA2"  @input="replaceComma('GPA2')" placeholder="Digite uma nota entre 0.00 e 10.00" pattern="^(10|\d(\.\d{1,2})?)$" title="Enter a grade between 0 and 10" required v-model="formData.GPA2">

            <label for="CR_ATUAL">CR acumulado:</label>
            <input type="text" id="CR_ATUAL"  @input="replaceComma('CR_ATUAL')" placeholder="Digite uma nota entre 0.00 e 10.00" pattern="^(10|\d(\.\d{1,2})?)$" title="Enter a grade between 0 and 10" required v-model="formData.CR_ATUAL">
            
            <label for="grade_programming1">Nota de Programação 1:</label>
            <input type="text" id="grade_programming1" @input="replaceComma('grade_programming1')" placeholder="Digite uma nota entre 0.00 e 10.00" pattern="^(10|\d(\.\d{1,2})?)$" title="Enter a grade between 0 and 10" required v-model="formData.grade_programming1">
            
            <label for="grade_calculus1">Nota de Cálculo 1:</label>
            <input type="text" id="grade_calculus1" @input="replaceComma('grade_calculus1')" placeholder="Digite uma nota entre 0.00 e 10.00" pattern="^(10|\d(\.\d{1,2})?)$" title="Enter a grade between 0 and 10" required v-model="formData.grade_calculus1">
            
            <label for="grade_linear_algebra">Nota de Álgebra Linear:</label>
            <input type="text" id="grade_linear_algebra" @input="replaceComma('grade_linear_algebra')" placeholder="Digite uma nota entre 0.00 e 10.00" pattern="^(10|\d(\.\d{1,2})?)$" title="Enter a grade between 0 and 10" required v-model="formData.grade_linear_algebra">
            
            <label for="grade_eng_introduction">Nota de Introdução a Engenharia:</label>
            <input type="text" id="grade_eng_introduction" @input="replaceComma('grade_eng_introduction')" placeholder="Digite uma nota entre 0.00 e 10.00" pattern="^(10|\d(\.\d{1,2})?)$" title="Enter a grade between 0 and 10" required v-model="formData.grade_eng_introduction">

            <label for="grade_calculus0">Nota de Cálculo 0:</label>
            <input type="text" id="grade_calculus0" @input="replaceComma('grade_calculus0')" placeholder="Digite uma nota entre 0.00 e 10.00" pattern="^(10|\d(\.\d{1,2})?)$" title="Enter a grade between 0 and 10" required v-model="formData.grade_calculus0">


            
            <label for="employee_student">Trabalha em tempo integral?</label>
            <select id="employee_student" required v-model="formData.employee_student">
                <option value="non-employee student">Não trabalha em tempo integral</option>
                <option value="employee student">Trabalha em tempo integral</option>
            </select>

            <label for="bolsista">É bolsista da UNIRIO?</label>
            <select id="bolsista" required v-model="formData.bolsista">
                <option value="bolsista">Bolsista</option>
                <option value="naobolsista">Não-bolsista</option>
            </select>
            

            <button type="submit">Enviar</button>
        </form>
        <div  class="prediction-container" v-if="prediction !== null">
            <h2>Resultado da Previsão:</h2>
            <div v-html="prediction"></div>
        </div>
    </div>
    <footer id="footer">
        {{ email }}
        <a href="/trocarsenha">Trocar a senha</a>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/EngProd/model2GPA/script.js') }}"></script>
</body>
</html>
