<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Form</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div id="app">
        <h1>Sistema de Predição de Evasão do CCET/UNIRIO</h1>
        <h2>Login</h2>
        <form @submit.prevent="submitForm">
            

            <label for="GPA1">E-mail:</label>
            <input type="text" id="email"  placeholder="Enter your e-mail" title="Enter your e-mail" required v-model="formData.email">

            <label for="CR_ATUAL">Senha:</label>
            <input type="password" id="senha"   placeholder="Enter your password" title="Enter your password" required v-model="formData.senha">
            
            <button type="submit">Enviar</button>
        </form> 
        </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
